body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #faf8f5;
    color: #333;
}

header {
  background: #f1e8e6;
  padding: 1em;
  text-align: center;
}

h1, h2, .btn {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}


nav a {
  margin: 0 1em;
  text-decoration: none;
  color: #764a4a;
}

main {
  padding: 2em;
}

footer {
  text-align: center;
  padding: 1em;
  background: #f1e8e6;
  margin-top: 2em;
}
